h1{
    border-bottom: 1px solid #bdbdbd;
}
table{
    width: 100%;
    
}
.table_section th{
    
    text-align: center;
    border: 1px solid #a3a3a3;
    border-collapse: collapse;
}
.table_section td {
    
    
    border: 1px solid #a3a3a3;
    border-collapse: collapse;
   text-align: center;
}
td[colspan="3"]{
    text-align: right;
    font-weight: bold;
}



