h1{
    border-bottom: 1px solid #bdbdbd;
}
table{
    width: 100%;
    
}

.table_section td {
    
    border: 1px solid black;
    border-collapse: collapse;
    
}

.table_section th{

    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
td[colspan="3"]{
    text-align: center;
    font-weight: bold;
}